body {
    font-family: 'Courier New', Courier, monospace; 
    letter-spacing: 2px;
    background-color: rgb(238, 170, 122);
}

body, h1, h2, h3, p, ul { 
    margin: 0;
    padding: 0;
}

header {
    background-color: chocolate;
    margin: 0;
    padding: 1.8rem;
    color: cornsilk;
    display: flex;
}

.summary {
    display: flex;
    gap: 4rem;
    align-items: center;
    background-color: cornsilk;
    color: chocolate;
}

.summary img {
    height: 450px;
}

.summary .text {
    font-size: x-large;
    text-align: left;
    line-height: 2rem;
}

.history article, .applications {
    margin: 1rem;
    padding: 0;
    border-radius: 25px;
    overflow: hidden;
    filter: drop-shadow(0 0 0.75rem rgba(63, 63, 63, 40%));
    border: 0.5px solid rgb(238, 170, 122);
}

.history article h3, .applications h3 {
    background-color: chocolate;
    color: cornsilk;
    font-size: xx-large;
    padding: 20px;
    text-align: center;
}

.history article p, .applications ul, .applications p {
    padding: 45px;
    font-size: x-large;
    line-height: 2rem;
}

.history article p:nth-child(2n), .applications ul {
    background-color: cornsilk;
    color: chocolate;
    padding-right: 35%;
}

.history article p:nth-child(2n+1), .applications p {
    background-color: chocolate;
    color: cornsilk;
    padding-left: 35%;
}

.applications p, .applications ul {
    padding: 45px;
}

.history article p:last-child {
    padding: 0 20px;
}

.source {
    font-size: calc(80%) !important;
    letter-spacing: normal;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}